* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header, main {
	padding: 1rem;
}

header {
	background-color: #ffc0cb;

	h1 {
		margin: 0;
		font-size: 1.4rem;
	}
}

main {
	background-color: #c8a2c8;
	flex-grow: 1;
}

.fact {
	margin: 0.75em;

	&:nth-child(even) {
		background-color: #ba89ba;
	}

}
